<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Configuración de Usuario</title>
<link rel="stylesheet" href="../static/css/config.css"> <!-- Enlaza el archivo CSS -->
</head>
<body>
  <div class="container">
    <h1>Configuración de Usuario</h1>
    <div class="user-info">
      <img src="../img/pika.png" alt="Foto de Perfil">
      <h2>Johan Muñoz</h2>
      <p>Correo Electrónico: johangamespro@gmail.com</p>
      <p>Teléfono: 3026416088</p>
    </div>
    <button onclick="editarInformacion()">Editar Información</button>
  </div>

  <script>
    function editarInformacion() {
      // Aquí puedes agregar el código para redirigir a la página de edición de información del usuario.
      // Ejemplo de redireccionamiento:
      // window.location.href = "editar_informacion.html";
    }
  </script>
</body>
</html>
