{% include 'header.html' %}

        <main>
            <!-- End of Analyses -->

            <!-- New Users Section -->
            
            <br><br>
            <h2>Nuevo empleado</h2><br>
            <h2><a href="{{ url_for('empleados.create') }}"><span class="danger">Crear Empleado</span></a></h2>

            {% for empleado in empleados %}
            

            <div class="new-users">
                
                
                <div class="user-list">

                    <div class="user">
                        <h2>{{empleado[0] }}</h2>
                    </div>

                    <div class="user">
                        <img class="img-thumbnail" width="100" src="{{ url_for('empleados.uploads', nombreFoto=empleado[3]) }}" alt="">
                    </div>
                    <div class="user">
                        <div class="user">
                            <h2>{{empleado[1] }}</h2>
                        </div>
                    </div>
                    <div class="user">
                        <div class="user">
                            <h2>{{empleado[2] }}</h2>
                        </div>
                    </div>
                    <div class="user">
                        <h2>
                        <a href="{{ url_for('empleados.edit', Emp_Id=empleado[0]) }}"><span class="danger">editar</span></a>
                        </h2>
                    </div>
                    <div class="user">
                        <h2>
                        <a href="{{ url_for('empleados.destroy', Emp_Id=empleado[0]) }}"><span class="danger">Eliminar</span></a>   
                        </h2>                 
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

    </div>

    <script src="../static/js/orders.js"></script>
    <script src="../static/js/index.js"></script>

    {% include 'footer.html' %}

    
</tbody>
